/* dm-sans-latin-wght-normal */
@font-face {
  font-family: "DM Sans Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 1000;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/dm-sans:vf@latest/latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
::-webkit-input-placeholder {
  font-size: 12px;
}
#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  width: 100%;
  padding: 2rem;
  text-align: center;
  overflow-x: hidden;
  background-color: #ffff;
  scrollbar-width: thin;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.MarkersMap:hover {
  background-color: red;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.principal-titl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  margin-left: -25px;
  width: 90%;
}
.principal-content {
  display: flex;
  padding: 16px 0px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 20px;
  align-self: stretch;
  flex-wrap: wrap;
  margin-left: -40px;
  width: 110%;
}
.Tabla {
  border-bottom: 1px solid #cacaca;
}
.Tabla:nth-child(even) {
  background-color: #f4f4f4;
}
.Tabla:hover {
  background-color: #cccccc;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffff;
}

*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
}
/* Table responsive */
table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: auto;
  table-layout: fixed;
  font-size: 14px;
  user-select: none;
  height: 100%;
  font-family: "DM Sans Variable";
}

table tbody tr:nth-child(even) {
  background-color: #f4f4f4;
}
table tbody tr:hover {
  background-color: #cccccc;
}
table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  /* border: 1px solid #ddd; */
  border-bottom: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 20px;
  color: #3a3a3f;
}
table th {
  font-size: 0.85em;
  font-weight: 500;
  line-height: 20px;
  color: #3a3a3f;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.user_customer {
  background-color: #fccfd9;
  padding: 2px 4px 2px 4px;
  width: max-content;
  border-radius: 2px;
  gap: 4px;
}
.drawers_principal {
  width: 100%;
  height: 94%;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding: "0px 24px";
}
.drawers_table {
  height: 60%;
  overflow: auto;
  scrollbar-width: thin;
  margin-left: 15px;
}
.drawer_pagination {
  width: 100%;
  height: 10%;
}

.insights_principal_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.insights_title {
  width: 100%;
  height: 50px;
  margin-left: -30px;
  display: flex;
  flex-direction: column;
}
.insights_title_responsive {
  display: none;
}
.outlets_title_h1 {
  width: 100%;
  text-align: center;
  /* font-size: 1.3vw; */
  font-weight: 700;
  font-size: clamp(2rem, 1.375rem, 1.5rem);
  line-height: 34.1px;
  color: #000005;
  padding: 0px 32px;
  margin-left: -40px;
}
.insights_title_h1 {
  width: 100%;
  text-align: left;
  /* font-size: 1.3vw; */
  font-weight: 700;
  font-size: clamp(1.5rem, 1.375rem, 1.5rem);
  line-height: 34.1px;
  color: #000005;
  padding: 0px 32px;
  margin-left: -40px;
}
.colaboradores_search_1{
  display: none;
}
.colaboradores_title_h1{
  font-style: normal;
  line-height: 155%;
  margin-left: -55px;
}
.clt_header{
  display: flex;
  padding: 0px 32px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  width: 90%;
}
.clt_search{
  position: relative;
  width: 60%;
}
.clt_principal{
  display: flex;
  padding: 16px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  flex: 100;
  align-self: stretch;
  width: 100%;
  margin-left: 0px;
}
.clt_title_h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: left;
  /* font-size: 1.3vw; */
  font-weight: 700;
  font-size: clamp(1.5rem, 1.375rem, 1.5rem);
  line-height: 34.1px;
  color: #000005;
  padding: 0px 32px;
  margin-left: -40px;
}
.insights_title_p {
  width: 100%;
  height: 50%;
  text-align: left;
  /* font-size: 0.8vw;   */
  font-weight: 400;
  font-size: clamp(0.7rem, 0.875rem, 0.8rem);
  line-height: 21.7px;
  color: #88888b;
}
.pdv_title_p {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.insights_principal {
  width: 100%;
  /* height: 25rem; */
  height: 75%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  /* flex-wrap: wrap; */
  margin-left: -30px;
}
.insights_contenido_principal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.GrapInsights {
  width: 1.2rem;
}
.insights_mapa {
  width: 48.5%;
  height: 100%;
  border: 1px solid var(--gray-4, #ced4da);
  background: var(--gray-0, #f8f9fa);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.insights_mapa_info_mapa {
  margin-top: 1rem;
  height: 100%;
  border-radius: 0.5rem;
}
.MapInsightsResponsive {
  display: none;
}
.insights_mapa_info_title {
  height: 5%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.insights_mapa_info_descripcion {
  margin-top: -1.5rem;
  height: 10%;
}
.insights_mapa_info_descripcion_p {
  text-align: left;
  color: #88888b;
  font-weight: 500;
  line-height: 18.23px;
  /* font-size: 0.875; */
  font-size: clamp(0.7rem, 0.9rem, 1rem) !important;
}
.insights_mapa_info_datas {
  display: flex;
  flex-direction: row;
  height: 3%;
  margin-top: -1rem;
  /* margin-left: -5%; */
  gap: 1rem;
}
.insights_mapa_info_datas_data_li {
  /* font-size: 1vw; */
  font-weight: 400;
  font-size: clamp(0.7rem, 0.875rem, 1rem);
  line-height: 18.23px;
  color: #000;
  /* font-style: "normal"; */
}
.insights_mapa_info_datas_data_li_value {
  /* font-size: 1.2vw; */
  font-weight: 500;
  font-size: clamp(0.7rem, 1.375rem, 1.1rem);
  line-height: 28.64px;
  color: #000005;
  align-content: center;
}
.insights_mapa_info_datas_data {
  /* display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;     */
  /* margin-left: -2.5rem; */
  list-style: none;
  font-size: 0.8vw;
}
.insights_mapa_info_datas_data_name {
  width: 100%;
  height: 50%;
}
.insights_mapa_info_datas_data_name_h1 {
  color: #88888b;
  /* font-size: 1em; */
  font-size: 0.8vw;
  text-align: left;
}
.insights_mapa_info_datas_data_name_h1_value {
  color: #000005;
  /* font-size: 1.2em; */
  font-size: 1vw;
  width: 100%;
  margin-left: -10px;
  margin-top: -0.1rem;
}
.insights_mapa_info_datas_data_value {
  width: 100%;
  height: 50%;
}
.insights_mapa_info_title_mapa {
  width: 1.5rem;
  height: 1.5rem;
}
.insights_mapa_info_title_h1 {
  text-align: left;
  /* font-zise: 0.8vw; */
  font-size: clamp(0.9rem, 0.8vw, 0.8rem);
  color: #3a3a3f;
  font-weight: 500;
  margin-top: 2px;
  line-height: 20.83px;
}
.insights_datas {
  width: 48.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.insights_datas_info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 40%;
}
.insights_datas_kpi {
  border: 1px solid var(--gray-4, #ced4da);
  background: var(--gray-0, #f8f9fa);
  border-radius: 0.5rem;
  width: 100%;
  height: 50%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.insights_datas_kpi_title {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25%;
  align-items: center;
}
.insights_datas_kpi_title_h1 {
  /* font-size: 1vw; */
  font-size: clamp(0.9rem, 0.8vw, 0.8rem);
  color: #3a3a3f;
  font-weight: 500;
  margin-left: 1rem;
}
.insights_datas_kpi_title_data_h1 {
  /* font-size: 0.8vw; */
  font-weight: 400;
  font-size: clamp(0.7rem, 0.8rem, 0.7rem);
  line-height: 18.23px;
  color: #88888b;
  font-weight: 500;
  margin-left: 1rem;
}
.insights_datas_kpi_title_h1_data {
  /* font-size: 1.3vw; */
  font-weight: 500;
  font-size: clamp(1rem, 1.375rem, 1.3rem);
  line-height: 28.64px;
  color: #000005;
  /* margin-left: 1rem; */
  width: max-content;
}
.insights_datas_kpi_data {
  width: 100%;
  height: 89%;
  display: flex;
  /* flex-direction: row; */
  gap: 1vw;
  justify-content: space-between;
}
.insightsNS_datas_statusTransmition_data {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-between;
}
.insightsNS_datas_statusTransmition_data_data {
  width: 100%;
  /* height: 33%; */
  height: 28%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  color: #3a3a3f;
  font-size: 0.75rem;
  cursor: pointer;
}
.insights_drawer_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.insights_drawer_header {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #cacaca;
  padding: 0px 1rem 0px;
  box-sizing: border-box;
}
.insights_drawer_header_iconHeader {
  width: 40%;
  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.insights_drawer_header_max {
  width: fit-content;
  height: max-content;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid var(--Neutral-Outline, #88888b);
  background: var(--Neutral-Surface, #fff);
  display: flex;
  flex-direction: row;
}
.insights_drawer_header_arrow {
  display: flex;
  padding: 2px 8px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  gap: var(--Sizes-Spacers-2xs, 4px);
  border-radius: 8px;
  background: var(--Secondary-On-Secondary, #d4dae3);
}
.insights_drawer_content {
  width: 100%;
  height: 90%;
  padding: 1rem;
  box-sizing: border-box;
}

.insights_datas_kpi_data_data {
  /* list-style: none;
  font-size: 0.8vw; */
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.insights_datas_kpi_data_data_1 {
  font-weight: 500;
  /* font-size: clamp(0.8rem,1rem,1.3rem); */
  font-size: 0.85rem;
  line-height: 20.83px;
  width: 100%;
  height: 33%;
  color: #3a3a3f;
}
.insights_datas_kpi_data_data_2 {
  font-weight: 500;
  font-size: clamp(1.1rem, 1rem, 0.5rem);
  line-height: 28.64px;
  width: 100%;
  height: 33%;
  color: #000005;
}
.insights_datas_kpi_data_data_22 {
  font-weight: 500;
  font-size: clamp(0.8rem, 1rem, 0.5rem);
  line-height: 28.64px;
  width: 100%;
  height: 33%;
  color: #000005;
}
.insights_datas_kpi_data_data_3 {
  font-weight: 400;
  font-size: clamp(0.5rem, 0.7rem, 1rem);
  line-height: 18.23px;
  width: 100%;
  height: 33%;
  color: #88888b;
}
.insights_datas_grafica {
  border: 1px solid #88888b;
  border-radius: 0.5rem;
  width: 100%;
  height: 52%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.insights_datas_info2 {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  gap: 0.5rem;
}
.insigths_datas_info2_control {
  padding: 1rem;
  width: 48.97%;
  height: 96%;
  border: 1px solid var(--gray-4, #ced4da);
  background: var(--gray-0, #f8f9fa);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}
.insigths_datas_info2_control_mantenimiento {
  width: 100%;
  height: 90%;
  border-radius: 0.5rem;
  box-sizing: border-box;
}
.insigths_datas_info2_control_title {
  display: flex;
  flex-direction: row;
  /* padding: 0.5rem; */
  width: 90%;
  height: 10%;
  align-items: center;
}
.insigths_datas_info2_control_title_grapics {
  width: 100%;
  height: 80%;
}
.insigths_datas_info2_control_title_grapics_container {
  /* width: 90%; */
  height: 90%;
  margin-left: 0.5rem;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #cacaca transparent;
}
.insigths_datas_info2_mantenimiento {
  padding: 1rem;
  width: 48.97%;
  height: 96%;
  border: 1px solid var(--gray-4, #ced4da);
  background: var(--gray-0, #f8f9fa);
  border-radius: 0.5rem;
}
.insights_datas_hr {
  height: 1px;
  background-color: #cacaca;
}
.insights_datas_mantenimiento_VerDetalles_principal {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  height: 10%;
}
.insights_datas_mantenimiento_barras {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.insights_mapa_info_mapa_info_h1 {
  font-weight: 500;
  font-size: clamp(0.7rem, 1rem, 1rem);
  line-height: 20.83px;
  color: #3a3a3f;
}
.insights_mapa_info_mapa_info {
  /* font-zise: 0.8vw; */
  font-size: 0.8vw;
  color: #3a3a3f;
  font-weight: 500;
  text-align: left;
  margin-top: 9px;
  height: 5%;
}
.insights_mapa_info_mapa_filters {
  width: 65%;
  height: 100%;
}
.insights_datas_info_mantenimiento_datos {
  display: flex;
  padding: 8px 0px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.insights_datas_info_mantenimiento_datos_h1 {
  color: #3a3a3f;
  font-weight: 500;
  font-size: clamp(0.5rem, 0.75rem, 0.9rem);
  line-height: 20px;
  font-style: normal;
}
.insights_datas_info_mantenimiento_datos_barras {
  display: flex;
  padding: 0px;
  gap: 1rem;
  align-self: stretch;
  margin-bottom: 5px;
}
.insights_datas_info_mantenimiento_datos_barras_color_Fallas {
  /* width: 13vw; */
  height: 2rem;
  border-radius: 4px;
  /* background-color: #ffc4cc; */
  display: flex;
  align-items: center;
  /* padding-left: 1rem; */
}
.insights_datas_info_controlDeActivos_barras {
  height: 1.5rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  /* padding-left: 1rem; */
}
/* .insights_datas_info_mantenimiento_datos_barras_color_Fallas:hover{
  box-shadow: 0 0 10px red;
}
.insights_datas_info_mantenimiento_datos_barras_color_Alertas:hover{
  box-shadow: 0 0 10px yellow;
} */
.insights_datas_info_mantenimiento_datos_barras_color_Alertas {
  /* width: 13vw; */
  height: 2vw;
  border-radius: 4px;
  /* background-color: #fef5c7; */
  display: flex;
  align-items: center;
  /* padding-left: 1rem; */
}
.insights_datas_info_mantenimiento_datos_barras_title {
  color: #49060d;
  font-size: clamp(0.6rem, 0.65rem, 0.9rem);
  font-weight: 400;
  line-height: 20px;
  white-space: nowrap;
  cursor: pointer;
  margin-left: 8px;
}
.insights_datas_info_mantenimiento_datos_barras_cantidad {
  color: #000005;
  font-size: clamp(0.7rem, 0.75rem, 0.9rem);
  font-weight: 400;
  line-height: 15.62px;
  margin-left: auto;
  display: flex;
  align-items: center;
  align-content: center;
}
/* general styling */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}
.clt_actividad_acerca_principal {
  width: 102.3%;
  /* height: 100%; */
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  gap: 0.5rem;
  /* flex-wrap: wrap; */
}
.clt_actividad_principal {
  width: 50%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid var(--gray-4, #ced4da);
  background: var(--gray-0, #f8f9fa);
  padding: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.clt_actividad_principal_actividad {
  width: 50%;
  height: 30vw;
  border-radius: 8px;
  border: 1px solid var(--gray-4, #ced4da);
  background: var(--gray-0, #f8f9fa);
  padding: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.clt_acerca_principal {
  width: 50%;
  height: 100%;
  border: 1px solid #cacaca;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
}
.clt_acerca_principal_cards {
  width: 100%;
  height: 100%;
  border: 1px solid #cacaca;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: #fff;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #cacaca transparent;
}
.clt_acerca_principal_cards_info {
  width: 100%;
  height: 50%;
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
}
.clt_actividad_principal_title_h1 {
  font-weight: 500;
  font-size: 0.875em;
  color: #3a3a3f;
}
.clt_actividad_principal_title {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
.clt_acerca_principal_cards_info_fecha {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.clt_acerca_principal_cards_info_fecha_h1 {
  /* font-size: 0.7rem; */
  font-size: 0.8vw;
  font-weight: 500;
  color: #88888b;
}
.clt_acerca_principal_cards_info_fecha_estatus {
  width: 1rem;
  height: 0.5rem;
  background-color: pink;
}
.clt_acerca_principal_cards_info_fecha_estatus_h1 {
  /* font-size: 0.6rem; */
  font-size: 0.5vw;
  color: #ed5079;
  font-weight: 400;
  line-height: 0.8rem;
  background-color: #fccfd9;
}
.clt_acerca_principal_cards_info_orden {
  display: flex;
  flex-direction: row;
  margin-top: -1rem;
  gap: 0.5rem;
}
.clt_acerca_principal_cards_info_orden_h1 {
  /* font-size: 0.8rem; */
  font-size: 0.8vw;
  font-weight: 500;
  color: #000005;
  line-height: 18px;
}
/* .clt_acerca_principal_cards_info_orden_tipo{
} */

.clt_actividad_principal_title_nombre {
  width: 100%;
  height: 7%;
  border-bottom: #cacaca 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 1rem;
  box-sizing: border-box;
}
.clt_actividad_principal_title_nombre_h1 {
  font-size: 0.75rem;
  font-weight: 400;
  color: #88888b;
  margin-top: 0.3rem;
}
.clt_actividad_principal_mapa {
  width: 100%;
  height: 100%;
}

.insights_datas_container {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: row;
  /* gap: 0.1rem; */
  box-sizing: border-box;
}
.insights_datas_container_Grafica {
  width: 20%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -1rem;
}
.insights_datas_container_Grafica_Datas {
  width: 91%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  overflow: auto;
  scrollbar-width: thin;
  /* margin-left: 0.5rem; */
  justify-content: space-around;
  margin-top: 1rem;
}
.insights_datas_container_Grafica_Datas_ol {
  list-style: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  /* margin-top: -0.2rem; */
  /* margin-left: 1.2rem;   */
}
.insights_datas_container_Grafica_Datas_li_title {
  /* font-size: 0.8vw; */
  font-weight: 500;
  /* font-size: clamp(0.8rem, 1rem, 1rem); */
  font-size: 1rem;
  line-height: 20.83px;
  color: #3a3a3f;
  width: max-content;
}
.insights_datas_container_Grafica_Datas_li_Enf {
  font-size: 0.875rem;
  font-weight: 400;
  font-size: clamp(0.7rem, 0.875rem, 1rem);
  line-height: 18.23px;
  color: #88888b;
}
.insights_datas_container_Grafica_Datas_li_total {
  /* font-size: 0.9vw; */
  font-weight: 500;
  font-size: clamp(1rem, 1.2vw, 1.375rem);
  line-height: 28.64px;
  color: #000005;
}
.clt_actividad_principal_actividad {
  width: 50%;
  height: 27vw;
  border: 1px solid #cacaca;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  gap: 0px;
  margin-left: 110;
  cursor: pointer;
}
.clt_actividad_mapa_info {
  width: 96%;
  height: 7%;
  display: flex;
  padding: 8px;
  align-items: center;
  align-content: center;
  gap: 4px;
  align-self: stretch;
  flex-wrap: wrap;
}
.insights_datas_mantenimiento_VerDetalles_h1 {
  color: #3e83ff;
  font-size: clamp(0.8rem, 0.9vw, 1vw);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 20;
  cursor: pointer;
}
.pagefilter_return_principal {
  display: flex;
  margin-left: -35px;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
  margin-top: -30px;
  max-width: 100%;
  white-space: "nowrap";
}
.return_principal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  stroke-width: "0.5";
  border: 0.5px solid #adbacc;
  border-radius: 4px;
  cursor: pointer;
  /* box-sizing: border-box; */
}
.pagefilter_container_principal {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  gap: 8px;
  border: 0.5px solid #adbacc;
  border-radius: 4px;
  width: 100%;
}
.pagefilter_container_principal_customer {
  display: flex;
  align-items: center;
}
.pagefilter_container_items {
  display: flex;
  flex-direction: row;
  width: fit-content;
}
.pagefilter_container_principal_customer_container {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #adbacc;
  background-color: #d4dae3;
  padding: 3px 7px;
}
.pagefilter_container_principal_customer_container_icon {
  color: #adbacc;
  width: 1rem;
  height: 1rem;
  margin-right: 3px;
}
.pagefilter_container_principal_customer_container_text {
  color: #adbacc;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.8rem;
  text-transform: uppercase;
  user-select: none;
}

.pagefilter_container_principal_customer_container_icon_right {
  color: #adbacc;
  width: 1rem;
  height: 1rem;
  margin-left: 3px;
}
.pagefilter_container_principal_addFilter {
  display: flex;
  align-items: center;
  padding: 3px 7px;
  margin-right: 2rem;
}
.pagefilter_container_principal_addFilter_iconCircle {
  color: #313a49;
  width: 0.9rem;
  height: 0.9rem;
  margin-right: 3px;
}
.detail_principal_body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* margin-left: -1%; */
  margin-top: 0.6rem;
}
.detail_image_info {
  width: 100%;
  height: 23%;
  /* border-bottom: 1px solid #CACACA; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.detail_hr {
  border: 1px solid #cacaca;
  width: 109%;
  margin-left: -3rem;
  margin-top: -0.5rem;
}
.detail_principal_body_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: -1rem;
}
.detail_image_info_data {
  width: 40%;
  display: flex;
  flex-direction: row;
  margin-left: -3rem;
}
.detail_data {
  width: 20%;
  margin-top: 0.5rem;
  /* background-color: red; */
}
.detail_data_ns {
  width: 45%;
  /* margin-top: 0.5rem; */
  /* background-color: red; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-content: flex-end;
}
.detail_image_show {
  width: 25%;
  justify-content: center;
  margin-top: 0.5rem;
}
.detail_data_show {
  width: 75%;
  margin-top: 0.8rem;
}
.detail_principal_actividad_acerca_1 {
  width: 100%;
  height: fit-content;
}
.detail_principal_actividad_acerca_2 {
  width: 100%;
  height: 100%;
}
.detail_principal_inv_gast_1 {
  width: 100%;
  height: max-content;
}
.principal_paginator {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 1rem;
  overflow-y: hidden;
  overflow-y: hidden;
  max-width: 100%;
}
.login_principal_body {
  display: flex;
  height: 89vh;
  width: 100%;
  /* background-color: #3e83ff; */
}
.login_principal_title {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background: #ffff;
  margin: 0 auto;
}
.login_principal_title_content {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}
.login_principal_title_content_img {
  margin-top: 10;
  width: 30px;
  height: 30px;
}
.login_principal_title_content_nom_version {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.login_principal_title_content_nom {
  color: #000005;
  font-size: 1.188rem;
  font-style: normal;
  font-weight: 700;
  line-height: 155%;
}
.login_principal_title_content_nom_h2 {
  color: #3a3a3f;
  font-size: 0.563rem;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.login_principal_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  align-self: stretch;
  width: 100% !important;
}
.login_principal_form_title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  align-content: center;
  align-items: center;
  text-align: left;
}
.login_principal_form_title_h1 {
  color: #000005;
  font-size: 1.438rem;
  font-style: normal;
  font-weight: 700;
  line-height: 155%;
  width: 60%;
}
.login_principal_form_title_h2 {
  color: #88888b;
  font-size: 0.813rem;
  font-style: normal;
  font-weight: 400;
  width: 60%;
  line-height: 155%;
}
.login_principal_form_label1 {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-items: center;
  align-content: center;
}
.login_principal_form_label1_1 {
  color: #3a3a3f;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 60%;
  text-align: left;
}
.login_principal_form_label1_input1 {
  color: #000;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  width: 60%;
  background-color: #ffff;
}
.login_principal_form_label2_input2 {
  color: #000;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  width: 430px;
  background-color: #ffff;
}
.login_principal_form_label2 {
  display: flex;
  width: 420px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}
.login_principal_form_label2_2 {
  color: #3a3a3f;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.login_principal_form_button_ini {
  background-color: #ed5079;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  width: 100%;
}
.users_principal {
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
.users_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.users_title {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.users_title_h1 {
  color: #000005;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.users_form {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}
.users_form_1 {
  width: 100%;
  height: 15%;
}
.users_form_button {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clt_detail_drawer_energy {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
  gap: 0.5rem;
}
.clt_detail_drawer_energy_data {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.clt_detail_drawer_economic_data {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.clt_detail_drawer_energy_grap {
  width: 100%;
  height: 63%;
  display: flex;
}
.pdv_principal {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 45px 0px;
}
.pdv_titleInfo {
  align-items: center;
  padding: 0px 32px;
  flex-direction: column;
  width: 90%;
}
.pdv_pathTable {
  margin-left: -2rem;
  align-items: center;
}
.pdv_table {
  width: 100%;
  height: fit-content;
  /* overflow-y: auto;
  scrollbar-width: thin; */
}
.pdv_dowload{
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}
.clt_table_container{
  padding: 1rem 0rem;
  margin-left: -55px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.mantine-Drawer-title {
  color: var(--other-black, #000);
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  padding: 0.5rem;
  box-sizing: border-box;
}
.coolview_printipal {
  width: 100%;
  height: 90%;
}
.drawerHeaderImg {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  box-sizing: border-box;
}
.drawerHeaderInfo {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Media responsive Tables */
/* @media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
} */
/* Termina responsive Tables */
/* Media Responsive PC/LapTop */
@media screen and (min-width: 1024px) {
  /* .login_principal_body {
    height: 84rem;
  } */
}
/* Termina Media Responsive PC/LapTop */

/* Inicia media responsive SMARTHPHONES */
@media (width <= 767px) {
  .return_principal {
    display: none;
  }
  .pagefilter_container_items {
    overflow: auto;
    scrollbar-width: thin;
    scroll-snap-type: x;
    width: 43%;
  }
  .pagefilter_container_principal {
    border: 1px solid transparent;
  }
  .pagefilter_container_principal_addFilter {
    width: fit-content;
  }
  .insights_title_responsive {
    display: contents;
  }
  .insights_title {
    height: fit-content;
  }
  .insights_title_h1  {
    display: none;
  }  
  .colaboradores_search_1{
    display: flex;
    width: 100% !important;
  }
  .mantine-12sbrde{
    width: 100%;
  }
  .colaboradores_button{
    display: none;
  }
  .colaboradores_title_h1{
    display: none;
  }
  .pdv_pathTable{
    margin-left: 0px;
  }
  .pdv_titleInfo{
    width: 100%;
    padding: 0px 0px;
  }
  .pdv_principal{
    margin-left: -40px;
  }
  .outlets_title_h1{
    display: none;
  }
  .clt_header{
    width: 100%;
    align-self: auto;
  }
  .clt_search{
    width: 100%;
  }
  .clt_title_h1{
    display: none;
  }
  .clt_principal{
    display: flex;
    padding: 16px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    flex: 100;
    align-self: stretch;
    width: 100%;
    margin-left: -40px;
  }
  .insights_title_p {
    display: none;
  }
  .insights_principal_container {
    gap: 0.5rem;
  }
  .insights_principal {
    width: 100%;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  .insights_mapa {
    display: flex;
    flex-direction: column;
    width: 89%;
    height: fit-content;
    gap: 1vw;
  }
  .insights_mapa_info_datas {
    flex-wrap: nowrap;
    overflow: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
    height: 9%;
  }
  .insights_datas {
    width: 100%;
  }
  .insights_contenido_principal {
    gap: 2rem;
  }
  .insights_datas_container_Grafica_Datas {
    margin-left: 2.5rem;
    justify-content: start;
  }
  .insights_datas_container_Grafica {
    width: 30%;
  }
  /* .insights_datas_kpi_data_data{
    
  } */
  .insights_datas_kpi_data_data_1 {
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 20.83px;
  }
  .insights_datas_kpi_data_data_2 {
    font-size: clamp(1rem, 1vw, 1rem);
  }
  .insights_datas_kpi_data_data_3 {
    font-size: clamp(0.7rem, 0.7vw, 0.7rem);
  }
  .insights_datas_info2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -1.2rem;
    gap: 12px;
  }
  .insigths_datas_info2_control {
    width: 89%;
    height: fit-content;
    margin-top: 1rem;
  }
  .insigths_datas_info2_mantenimiento {
    width: 100%;
    height: fit-content;
  }
  .insigths_datas_info2_control_title {
    height: 2rem;
  }
  .insights_datas_info_mantenimiento_datos_barras_color_Alertas {
    /* width: 9rem; */
    height: 2rem;
  }
  .insights_datas_info_mantenimiento_datos_barras_color_Fallas {
    /* width: 9rem; */
    height: 2rem;
  }
  /* BARRAS */
  .insights_datas_info_controlDeActivos_barras {
    height: 2rem;
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
  }
  .insights_mapa_info_mapa {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .MapInsights {
    display: none;
  }
  .MapInsightsResponsive {
    display: flex;
    width: 8.2rem;
    height: 3rem;
    padding: 1px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 32px;
    background: var(--pink-6, #ed5079);
    color: #fff;
  }
  .principal_paginator {
    /* width: 100%;     */
    height: fit-content;
    /* margin-left: -3rem; */
    display: flex;
    flex-direction: column;
  }
  .login_principal_form_label1_input1 {
    width: 70%;
  }
  .login_principal_form_label2_input2 {
    width: 70%;
  }
  .login_principal_form_button_ini {
    width: 100%;
  }
  .login_principal_form_label2_2_container {
    position: relative;
    width: 423px;
  }
  .login_principal_form_title_h2 {
    width: 70%;
  }
  .detail_data_show_1 {
    display: "flex";
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 100;
    margin-left: 10;
  }
  .login_principal_left_content {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  .login_un {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea los elementos horizontalmente */
    justify-content: center; /* Alinea los elementos verticalmente */
    width: 1000%;
    height: 100vh; /* Ajusta la altura al 100% del viewport */
  }
  .login_principal_image {
    display: none;
  }
  .login_principal_title {
    width: 100%;
  }
  .pdv_table {
    height: 140vw;
  }
  .vault_tag {
    width: 120% !important;
  }
  .vault_section_roadmap {
    visibility: hidden !important;
    /* display: none; */
  }
  .section_Vault_Buttons {
    display: flex !important;
    flex-direction: column;
  }
  .vault_buttons {
    width: 100% !important;
  }
  .vault_Information_Container {
    width: 120% !important;
    height: 100% !important;
    border-radius: 8px;
    border: 1px solid var(--gray-4, #ced4da);
    background: var(--gray-0, #f8f9fa);
    padding: 0.9rem;
    box-sizing: border-box;
  }
  .table_responsive {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin;
  }
  .pdv_dowload{
    margin-right: 0px;
  }
  .clt_table_container{
    margin-left: 0px;
  }
  .drawerHeaderImg {
    display: none;
  }
  .drawerHeaderInfo {
    display: none;
  }
  .pdv_drawer_header_responsive{
    width: 100%;
  }
}
/* Termina media */
.drawerOutlets_Principal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.drawerHeader {
  height: max-content;
  width: 100%;
  border-bottom: 1px solid #cacaca;
  display: flex;
  flex-direction: row;
}

.drawerBody {
  height: 85%;
  width: 100%;
}
.drawerMapaDescargar {
  width: 100%;
  height: 30%;
  padding: 4px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.drawerMapa {
  width: 90%;
  height: 100%;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #313a49;
  display: flex;
  flex-direction: column;
}
.drawerMapa_Mapa {
  width: 100%;
  height: 85%;
}
.drawerMapa_Info {
  width: 100%;
  height: 15%;
}
.drawerTablaPaginador {
  width: 100%;
  height: 70%;
}
.drawerTabla_Descargar {
  width: 100%;
  height: 10%;
}
.drawerTabla_Buscador {
  width: 100%;
  height: 10%;
}
.drawerTabla_Tabla {
  width: 100%;
  height: 80%;
}
.drawerTABLA {
  width: 100% !important;
  height: 65% !important;
  overflow-x: auto;
  scrollbar-width: thin;
}
.drawerPAGINADOR {
  width: 100%;
  height: max-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.mantine-v4lv9f {
  border-bottom: 1px solid transparent;
}

.custom-alert {
  color: #000 !important;
  font-weight: 400 !important;
}

.no-border-input {
  border: none !important;
}
.drawerCoolview {
  max-width: 98%;
  left: 67px;
}
.section_Vault_Title {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.vault_h1_title {
  color: var(--other-black, #000);
  font-family: "DM Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
.vault_h2_description {
  color: var(--gray-6, #868e96);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
}
.section_Vault_Buttons {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.5rem;
}
.section_Valult_Information {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vault_Information_Container {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
}
.vault_Information_Data {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.vault_Information_Data_Title {
  color: var(--Neutral-On-Surface-Variant, #3a3a3f);
  /* font-family: "DM Sans"; */
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  gap: 5px;
  display: flex;
  align-items: center;
}
.vault_Information_Data_Title_container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.vault_Information_Data_Title2 {
  color: var(--Neutral-Outline, #88888b);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.vault_Information_Data_Title3 {
  color: var(--Neutral-On-Surface, #000005);
  text-align: right;
  /* font-family: "DM Sans"; */
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.vault_Information_Data_Title_container_password {
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--gray-4, #ced4da);
  background: var(--gray-0, #f8f9fa);
  color: var(--gray-4, #ced4da);
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.vault_container_final {
  width: max-content;
  height: max-content;
  display: flex;
  padding: 1rem;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid var(--gray-4, #ced4da);
  background: var(--gray-0, #f8f9fa);
}
.vault_container_final_h1 {
  color: var(--other-black, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
}
.vault_tag {
  position: relative;
  width: 60%;
}
.vault_section_roadmap {
  width: 60%;
  height: 10%;
}
.vault_buttons {
  font-size: 0.8rem;
  width: 7rem;
  height: 2rem;
}

.mantine-pmcyil[data-progress] {
  border-color: #ed5079;
}
.mantine-pmcyil[data-completed] {
  background-color: #ed5079;
  border-color: #ed5079;
  color: #fff;
}
.mantine-yfz32t {
  background-color: #ed5079;
}
.mantine-1oj4pmu[data-progress] {
  border-color: #ed5079;
}
.mantine-1oj4pmu[data-completed] {
  background-color: #ed5079;
  border-color: #ed5079;
  color: #fff;
}
.vault_drawer_container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1rem;
  gap: 1rem;
  flex-direction: column;
  box-sizing: border-box;
}
.vault_drawer_header {
  width: 100%;
  height: 20%;
  background-color: aqua;
}
.vault_drawer_registro {
  width: 100%;
  height: 30%;
  border-radius: 8px;
  border: 1px solid var(--gray-4, #ced4da);
  background: var(--gray-0, #f8f9fa);
  padding: 0.75rem;
  box-sizing: border-box;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}
.vault_drawer_mapa {
  width: 100%;
  height: 35%;
  border-radius: 8px;
  border: 1px solid var(--gray-4, #ced4da);
  background: var(--gray-0, #f8f9fa);
  padding: 0.75rem;
  box-sizing: border-box;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}
.vault_drawer_mapa_title {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
.vault_drawer_mapa_mapa {
  width: 100%;
  height: 90%;
  border-radius: 8px;
  border: 1px solid var(--gray-4, #ced4da);
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.vault_drawer_registro_stepper{
  width: 100%;
  height: 90%;  
  border-radius: 8px;
}

@media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
}

.headerPrincipal,
.headerPrincipalResponsive {
  width: 100%;
  background-color: #fff;
  flex-direction: row;
  height: 100%;
}

.headerPrincipal {
  display: flex;
  justify-content: space-between;
}

.headerPrincipalResponsive {
  display: none;
  justify-content: space-between;
}

.headerContentData2,
.headerDataIMGh4,
.headerIMG {
  background-color: #d4dae3;
}

.headerContentIMG {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.headerIMG {
  width: 100%;
  height: auto;
  display: flex;
  border-radius: 0.25rem;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.headerIMG__image {
  max-width: 100%;
  height: 90%;
}

.headerDataIMG {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.headerDataIMGh1 {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.headerContentDataContainer,
.headerDataIMGh1p2 {
  flex-direction: row;
  text-transform: uppercase;
  gap: 0.25rem;
  display: flex;
}

.headerDataIMGh1p1 {
  font-weight: 700;
  line-height: 1.628rem;
  color: #000005;
  width: max-content;
}

.headerDataIMGh1p2 {
  width: 50%;
  height: max-content;
  border-radius: 0.125rem;
  padding: 2px 4px;
  font-weight: 500;
  font-size: clamp(0.35rem, 2vw, 0.6rem);
  line-height: 14px;
  margin-top: 0.25rem;
  white-space: nowrap;
}

.headerDataIMGh2 {
  width: 100%;
  height: 20%;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 15.62px;
  color: #88888b;
  white-space: nowrap;
}

.headerDataIMGh3,
.headerDataIMGh4 {
  width: max-content;
  height: max-content;
  padding: 0 4px;
  border-radius: 2px;
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 14px;
  box-sizing: border-box;
}

.headerDataIMGh3 {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  align-content: center;
}

.headerDataIMGh4 {
  color: #313a49;
}

.headerContentData {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.headerContentDataContainer {
  width: 100%;
  height: 25%;
  padding: 0.5rem;
  box-sizing: border-box;
  justify-content: flex-end;
}

.headerContentData1,
.headerContentData2 {
  width: fit-content;
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 14px;
}

.headerContentData1 {
  color: #88888b;
}

.headerContentData2 {
  color: #313a49;
  height: fit-content;
  border-radius: 0.125rem;
  padding: 2px 4px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .alert-container {
    left: 30% !important;
  }
}
