#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 2rem;
  text-align: center;
  overflow-x: hidden;
  background-color: #ffff;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.principal-titl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  margin-left: -25px;
  width: 90%;
}
.principal-content {
  display: flex;
  padding: 16px 0px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 20px;
  align-self: stretch;
  flex-wrap: wrap;
  margin-left: -40px;
  width: 110%;
}
.Tabla {
  border-bottom: 1px solid #cacaca;
}
.Tabla:nth-child(even) {
  background-color: #f4f4f4;
}
.Tabla:hover {
  background-color: #cccccc;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffff;
}

*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
  
}
/* Table responsive */
table {
  /* border: 1px solid #CACACA; */
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;  
  overflow-y: auto;
  table-layout: fixed;
  font-size: 14px;
  user-select: none;
  height: 100%;
}

table tbody tr:nth-child(even) {
  background-color: #F4F4F4;
}
table tbody tr:hover{
  background-color: #CCCCCC;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {  
  /* border: 1px solid #ddd; */  
  border-bottom: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

table th {
  font-size: .85em;
  font-weight: bold;
  color: rgb(75, 82, 90);
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  
  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    /* border-bottom: 3px solid #ddd; */
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    /* border-bottom: 1px solid #ddd; */
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
.insights_principal_container{
  width: 100%;
  height: 100%;
}
.insights_title{
  width: 100%;
  height: 50px;
  margin-left: -30px;
}
.insights_title_h1{
  text-align: left;
  font-size: 1.3rem;
  color: #3A3A3F;
}
.insights_title_p{
  margin-top: -1rem;
  text-align: left;
  color: #88888B;
}
.insights_principal{
  width: 100%;
  /* height: 25rem; */
  height: 75%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;  
  flex-wrap: wrap;
  margin-left: -30px;
}
.insights_mapa{
  width: 48.5%;
  height: 100%;  
  border: 1px solid #88888B;
  padding: 10px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}
.insights_mapa_info_mapa{
  margin-top: 1rem;
  border: 1px solid green;
  height: 100%;
  border-radius: 0.5rem;
}
.insights_mapa_info_title{
  height: 10%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.insights_mapa_info_descripcion{  
  margin-top: -1rem;
}
.insights_mapa_info_descripcion_p{
  text-align: left;
  color: #88888B;
  font-weight: 500;
  line-height: 1rem;
}
.insights_mapa_info_datas{
  display: flex;
  flex-direction: row;
  height: 20%;  
  margin-top: -1rem;
}
.insights_mapa_info_datas_data{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
}
.insights_mapa_info_datas_data_name{
  width: 100%;
  height: 50%;
}
.insights_mapa_info_datas_data_name_h1{
  color: #88888B;
  font-size: 1em;
  text-align: left;
}
.insights_mapa_info_datas_data_name_h1_value{
  color: #000005;
  font-size: 1.2em;  
  width: 100%;
  margin-left: -10px;
  margin-top: -0.1rem;
}
.insights_mapa_info_datas_data_value{
  width: 100%;
  height: 50%;
}
.insights_mapa_info_title_mapa{
  width: 1.5rem;
  height: 1.5rem;
}
.insights_mapa_info_title_h1{
  text-align: left;
  font-size: 1rem;
  color: #3A3A3F;
  font-weight: 500;
 margin-top: 2px;
}
.insights_datas{
  width: 48.5%;
  height: 105%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.insights_datas_info{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  height: 50%;  
  
}
.insights_datas_kpi{
  border: 1px solid #88888B;
  border-radius: 0.5rem;
  width: 100%;
  height: 7rem;
}
.insights_datas_kpi_title{
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
  height: 25%;
  align-items: center;
}
.insights_datas_kpi_title_h1{
  font-size: 1rem;
  color: #3A3A3F;
  font-weight: 500;
  margin-left: 1rem;
}
.insights_datas_kpi_data{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: -1rem;
}
.insights_datas_kpi_data_data{
  list-style: none;
}
.insights_datas_grafica{
  border: 1px solid #88888B;
  border-radius: 0.5rem;
  width: 100%;
  height: 7rem;
}
.insights_datas_info2{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.insigths_datas_info2_control{
  width: 48.97%;
  height: 100%;
  border: 1px solid #88888B;
  border-radius: 0.5rem;
}
.insigths_datas_info2_control_mantenimiento{
  width: 100%;
  height: 100%;
  border: 1px solid #88888B;
  border-radius: 0.5rem;
}
.insigths_datas_info2_control_title{
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  width: 90%;
  height: 10%;
  align-items: center;
}
.insigths_datas_info2_control_title_grapics{
  width: 100%;
  height: 65%;
}
.insigths_datas_info2_control_title_grapics_container{
  width: 90%;
  height: 100%;
  margin-left: 0.5rem;
}
.insigths_datas_info2_mantenimiento{
  width: 48.97%;
  height: 100%;
  border: 1px solid #88888B;
  border-radius: 0.5rem;
}
.insights_mapa_info_mapa_info{
  height: 17%;  
}
.insights_mapa_info_mapa_info{
  font-size: 1rem;
  color: #3A3A3F;
  font-weight: 500;
  text-align: left;
  margin-top: -1px;
}
.insights_mapa_info_mapa_filters{
  width: 65%;
  height: 100%;
  background-color: transparent;
}

/* general styling */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}
.clt_actividad_acerca_principal{
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  gap: 0.5rem;
  /* flex-wrap: wrap; */ 
}
.clt_actividad_principal{
  width: 50%;
  height: 100%;  
  border: 1px solid #CACACA;
  border-radius: 0.5rem;  
  padding: 0.5rem;
  box-sizing: border-box;  
  display: flex;
  flex-direction: column;
}
.clt_acerca_principal{
  width: 50%;
  height: 100%;
  border: 1px solid #CACACA;
  border-radius: 0.5rem;  
  padding: 0.5rem;
  box-sizing: border-box;
}
.clt_acerca_principal_cards{
  width: 100%;
  height: 100%;
  border: 1px solid #CACACA;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: #CACACA
  ;
}
.clt_acerca_principal_cards_info{
  width: 100%;
  height: 50%;
  background-color: #FFFFFF;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
  
}
.clt_actividad_principal_title_h1{
  font-weight: 500;
  font-size: 1cap;
  color: #3A3A3F;
}
.clt_actividad_principal_title{
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;   
}
.clt_acerca_principal_cards_info_fecha{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.clt_acerca_principal_cards_info_fecha_h1 {
  /* font-size: 0.7rem; */
  font-size: 0.8vw;
  font-weight: 500;
  color: #88888b;
}
.clt_acerca_principal_cards_info_fecha_estatus {
  width: 1rem;
  height: 0.5rem;
  background-color: pink;
}
.clt_acerca_principal_cards_info_fecha_estatus_h1{
  /* font-size: 0.6rem; */
  font-size: 0.5vw;
  color: #ED5079;
  font-weight: 400;
  line-height: 0.8rem;  
  background-color: #FCCFD9;
}
.clt_acerca_principal_cards_info_orden{
  display: flex;
  flex-direction: row;
  margin-top: -1rem;
  gap: 0.5rem;
}
.clt_acerca_principal_cards_info_orden_h1 {
  /* font-size: 0.8rem; */
  font-size: 0.8vw;
  font-weight: 500;
  color: #000005;
  line-height: 18px;
}
/* .clt_acerca_principal_cards_info_orden_tipo{
} */

.clt_actividad_principal_title_nombre{
  width: 100%;
  height: 7%;      
  border-bottom: #CACACA  1px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 1rem;
  box-sizing: border-box;
}
.clt_actividad_principal_title_nombre_h1 {
  font-size: 0.8vw;
  font-weight: 400;
  color: #88888b;
  margin-top: 0.3rem;
}
.clt_actividad_principal_mapa {
  width: 100%;
  height: 40%;
}
